body{
    background-color: rgb(107, 107, 242);
    text-align: center;
}
input{
    margin:100px auto 100px;
    width: 350px;
    height: 40px; ;
    display: block;
    text-align:center ;

}
#output{
     margin-top: 45px;
     width:100px ;
     background:lightgreen;
     margin:100px auto 100px;
}
#btn{
    width: 350px;
    height:80px ;
    color: white;
    background-color: rgb(226, 21, 226);
    border-style: none;
    border-radius:15px ;
    margin-top: 50px;
}
h1{
    color: black;
    margin: 50px;
}
